body {
  display: grid;
  grid-template-areas: "nav nav nav nav " "slideshow slideshow slideshow slideshow " "about about about1 about2 " "about about about3 about4" "icon1 icon2 icon3 icon4" "portfolio portfolio portfolio portfolio" "portfolio1 portfolio2 portfolio2 portfolio5" "portfolio3 portfolio4 portfolio4 portfolio5" "team team team team" "team1 teamInfo1 team2 teamInfo2" "team3 teamInfo3 team4 teamInfo4" "bar1 bar2 bar3 bar4" "subscribe subscribe subscribe subscribe" "carousel carousel carousel carousel" "footer footer footer footer";
  grid-template-columns: 390px auto auto 400px;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  margin: 0;
  font-size: 20px; }

nav {
  z-index: 2;
  background-color: white;
  grid-area: nav;
  top: 0;
  position: sticky;
  margin-bottom: 40px; }
  nav a:not(:first-child) {
    margin-left: 40px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    transition: 0.3s; }
  nav a:hover {
    color: #f9acac; }
  nav .search-container {
    float: right;
    margin-right: 100px;
    margin-top: 100px; }
  nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border-top: #f9acac;
    border-color: #f9acac; }
  nav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 30px;
    background: #f9acac;
    font-size: 17px;
    border: none;
    cursor: pointer; }
  nav .search-container button:hover {
    background: #f9acac; }

.icon {
  display: none; }

.myMenu {
  transition: 0.3s;
  overflow: hidden;
  width: 100%; }
  .myMenu #homeIcon {
    margin-top: 20px; }

#slideshow {
  grid-area: slideshow; }

#slide {
  position: absolute;
  display: block;
  z-index: 1;
  color: white;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  color: white;
  margin: -650px 200px 120px 450px;
  width: 45vw;
  height: 400px; }
  #slide button {
    background-color: #f9acac;
    margin-top: 500px;
    width: 150px;
    height: 50px; }

#slideWords {
  grid-area: slideWords;
  position: absolute;
  display: block;
  color: white;
  text-align: center;
  margin: 0px 0px 0px 20px;
  width: 40vw;
  height: 250px;
  font-size: 30px; }

#about {
  grid-area: about;
  width: 550px;
  margin: 60px 20px 10px 100px;
  text-align: justify; }
  #about h1 {
    text-align: center; }

#about1 {
  grid-area: about1; }

#about2 {
  grid-area: about2; }

#about3 {
  grid-area: about3; }

#about4 {
  grid-area: about4; }

#about1 img, #about2 img, #about3 img, #about4 img {
  width: 350px;
  height: 200px; }

#about1 img, #about2 img {
  margin-top: 60px;
  margin-bottom: 18px; }

#about3 img, #about4 img {
  margin-bottom: 100px; }

#icon1 {
  grid-area: icon1; }
  #icon1 img {
    margin-left: 120px; }
  #icon1 h3 {
    margin-left: 130px; }

#icon2 {
  grid-area: icon2; }
  #icon2 img {
    margin-left: 50px; }
  #icon2 h3 {
    margin-left: 50px; }

#icon3 {
  grid-area: icon3; }
  #icon3 img {
    margin-left: 90px; }
  #icon3 h3 {
    margin-left: 70px; }

#icon4 {
  grid-area: icon4; }
  #icon4 img {
    margin-left: 90px; }
  #icon4 h3 {
    margin-left: 60px; }

#icon1, #icon2, #icon3, #icon4 {
  display: inline-block;
  color: #f9acac;
  background-color: black;
  text-align: left; }
  #icon1 img, #icon2 img, #icon3 img, #icon4 img {
    width: 90px;
    height: 80px; }

#portfolio {
  grid-area: portfolio;
  width: 1000px;
  margin-left: 20px; }

#portfolio1 {
  grid-area: portfolio1; }

#portfolio2 {
  grid-area: portfolio2; }

#portfolio3 {
  grid-area: portfolio3; }

#portfolio4 {
  grid-area: portfolio4; }

#portfolio5 {
  grid-area: portfolio5; }
  #portfolio5 img {
    width: 400px;
    height: 525px; }

#portfolio1 img, #portfolio2 img, #portfolio3 img, #portfolio4 img {
  width: 400px;
  height: 250px; }

#portfolio1, #portfolio2 {
  margin-bottom: 20px; }

#team {
  grid-area: team; }

#team1 {
  grid-area: team1; }

#team2 {
  grid-area: team2; }

#team3 {
  grid-area: team3; }

#team4 {
  grid-area: team4; }

#teamInfo1 {
  grid-area: teamInfo1; }

#teamInfo2 {
  grid-area: teamInfo2; }

#teamInfo3 {
  grid-area: teamInfo3; }

#teamInfo4 {
  grid-area: teamInfo4; }

#bar1 {
  grid-area: bar1; }

#bar2 {
  grid-area: bar2; }

#bar3 {
  grid-area: bar3; }

#bar4 {
  grid-area: bar4; }

#bar1, #bar2, #bar3, #bar4 {
  height: 200px;
  background-color: black;
  color: white;
  font-size: 30px;
  text-align: center; }

#subscribe {
  grid-area: subscribe;
  padding: 20px;
  text-align: center; }

#carousel {
  grid-area: carousel;
  width: 100%;
  background-color: black; }
  #carousel ul li {
    list-style: none;
    display: inline-block; }
  #carousel ul li img {
    width: 200px;
    height: 200px; }

footer {
  grid-area: footer; }

@media screen and (max-width: 1024px) {
  .myMenu a:not(:first-child) {
    display: none;
    padding: 8px 8px 8px 15px; }

  .myMenu a:first-child {
    position: relative;
    padding: 10px 0px 0px 15px; }

  .myMenu a .icon {
    display: block;
    float: none; }

  .myMenu .icon {
    display: none; }

  .myMenu.responsive {
    position: relative; }

  .myMenu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0; }

  .myMenu.responsive a:not(:first-child) {
    float: none;
    display: block;
    text-align: center;
    padding-left: 60px; } }
@media screen and (max-width: 768px) {
  .myMenu a:not(:first-child) {
    display: none;
    padding: 8px 8px 8px 15px; }

  .myMenu a:first-child {
    position: relative;
    padding: 10px 0px 0px 15px; }

  .myMenu a .icon {
    display: block;
    float: none; }

  .myMenu .icon {
    display: none; }

  .myMenu.responsive {
    position: relative; }

  .myMenu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0; }

  .myMenu.responsive a:not(:first-child) {
    float: none;
    display: block;
    text-align: center;
    padding-left: 60px; }

  #slide {
    margin: -650px 200px 120px 95px;
    width: 190vw;
    height: 500px; }

  #slideWords {
    margin: 0px 0px 0px 90px;
    width: 150vw;
    height: 250px;
    font-size: 30px; }

  #icon1 img, #icon2 img, #icon3 img, #icon4 img {
    width: 100px;
    height: 80px; } }
@media screen and (max-width: 425px) {
  body {
    font-size: 10px;
    grid-template-areas: "nav" "slideshow" "about" "icon1" "icon2" "icon3" "icon4" "portfolio" "team" "numbers" "carasal" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto; }

  .myMenu a:not(:first-child) {
    display: none;
    padding: 8px 8px 8px 15px; }

  .myMenu a:first-child {
    position: relative;
    padding: 10px 0px 0px 15px; }

  .myMenu a .icon {
    display: block;
    float: none; }

  .icon {
    display: block;
    position: absolute;
    padding: 15px 25px;
    cursor: pointer;
    position: absolute;
    right: 0px; }

  .myMenu.responsive {
    position: relative; }

  .myMenu.responsive.icon {
    position: absolute;
    right: 0;
    top: 0; }

  .myMenu.responsive a:not(:first-child) {
    float: none;
    display: block;
    text-align: center;
    padding-left: 60px; }

  #slide {
    margin: -240px 200px 120px 25px;
    width: 85vw;
    height: 230px; }

  #slideWords {
    font-size: 14px;
    margin: 0px 0px 120px 0px;
    width: 85vw;
    height: 150px; }

  #image img {
    width: 425px;
    height: 250px; }

  #icon1, #icon2, #icon3, #icon4 {
    text-align: center;
    margin: 20px 20px 20px 20px; }
    #icon1 img, #icon2 img, #icon3 img, #icon4 img {
      width: 100px;
      height: 80px;
      padding-top: 50px; } }
@media screen and (max-width: 375px) {
  .myMenu {
    width: 375px; }

  #slide {
    margin: -240px 200px 120px 35px;
    width: 85vw;
    height: 230px; }

  #slideWords {
    font-size: 14px;
    margin: 0px 0px 120px 0px;
    width: 85vw;
    height: 150px; }

  #image img {
    width: 375px; }

  #icon1, #icon2, #icon3, #icon4 {
    margin: 20px 20px 20px 20px; }
    #icon1 img, #icon2 img, #icon3 img, #icon4 img {
      width: 100px;
      height: 80px;
      padding-top: 50px; } }
@media screen and (max-width: 320px) {
  body {
    display: grid;
    grid-template-areas: "nav" "slideshow" "about" "about1" "about2" "about3" "about4" "icon1" "icon2" "icon3" "icon4" "portfolio" "portfolio1" "portfolio2" "portfolio3" "portfolio4" "portfolio5" "team" "team1" "teamInfo1" "team2" "teamInfo2" "team3" "teamInfo3" "team4" "teamInfo4" "bar1" "bar2" "bar3" "bar4" "subscribe" "carousel" "footer";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto; }

  .myMenu a:not(:first-child) {
    display: none;
    padding: 8px 8px 8px 15px; }

  .myMenu a:first-child {
    position: relative;
    padding: 10px 0px 0px 15px; }

  .myMenu a .icon {
    display: block;
    float: none; }

  .icon {
    display: block;
    position: absolute;
    padding: 15px 25px;
    cursor: pointer;
    position: absolute;
    right: 0px; }

  .myMenu.responsive {
    position: relative; }

  .myMenu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0; }

  .myMenu.responsive a:not(:first-child) {
    float: none;
    display: block;
    text-align: center;
    padding-left: 60px; }

  #slide {
    margin: -240px 200px 120px 25px;
    width: 85vw;
    height: 230px; }

  #slideWords {
    font-size: 14px;
    margin: 0px 0px 120px 0px;
    width: 85vw;
    height: 150px; }

  #image img {
    width: 327px;
    height: 250px; }

  #icon1, #icon2, #icon3, #icon4 {
    text-align: center;
    margin: 20px 20px 20px 20px; }
    #icon1 img, #icon2 img, #icon3 img, #icon4 img {
      width: 100px;
      height: 80px;
      padding-top: 50px; } }

/*# sourceMappingURL=style.css.map */
