//main
body{
  display: grid;
  grid-template-areas:
  "nav nav nav nav"
  "slideshow slideshow slideshow slideshow"
  "about about about1 about2"
  "about about about3 about4"
  "icon1 icon2 icon3 icon4"
  "portfolio portfolio portfolio portfolio"
  "portfolio1 portfolio2 portfolio5 portfolio5"
  "portfolio3 portfolio4 portfolio5 portfolio5"
  "team team team team"
  "numbers numbers numbers numbers"
  "carousel carousel carousel carousel"
  "footer footer footer footer";
  ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-rows: auto auto auto auto auto auto auto auto auto;
  margin: 0;
  font-size: 20px;

}

// STYLE FOR NAV
nav{
  z-index: 2;
  background-color: white;
  grid-area: nav;
  top: 0;
  position: sticky;
  margin: 50px 0px 20px 0px;

  a:not(:first-child){
    // padding: 0px 0px 20px 0px;
    margin-left: 200px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: inline-block;
    transition: 0.3s;
  }

  a:hover {
    color: #f9acac;
 }
}

//HAMBURGER MENU
.icon{
  display: none;
}

.myMenu{
  transition: 0.3s;
  overflow: hidden;
  width: 100%;
}

//STYLE FOR SLIDESHOW
#slideshow{
  grid-area:slideshow;
}

#slide{
  position: absolute;
  display: block;
  z-index: 1;
  color: white;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  color: white;
  margin: -650px 200px 120px 450px;
  width: 45vw;
  height: 400px;
  button{
    background-color: #f9acac;
    margin-top: 500px;
    width: 150px;
    height: 50px;
  }
}

#slideWords{
  grid-area: slideWords;
  position: absolute;
  display: block;
  color: white;
  text-align: center;
  margin: 0px 0px 0px 20px;
  width: 40vw;
  height: 250px;
  font-size: 30px;
}

//STYLE FOR ABOUT
#about{
  grid-area: about;
  width: 550px;
  margin: 60px 20px 10px 100px;
  text-align: justify;
    h1{
      text-align: center;
    }
}

#about1{
  grid-area: about1;
}

#about2{
  grid-area: about2;
}

#about3{
  grid-area: about3;
}

#about4{
  grid-area: about4;
}

#about1,#about2,#about3,#about4{
  img{
    width: 350px;
    height: 200px;
    float: left;
    // padding: 60px 20px 20px 20px;
  }
  }

#about1,#about2{

  img{
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

#about3,#about4{
  img{
    margin-bottom: 100px;
  }
}

#about1,#about3{
  img{
    margin-left: 20px;
  }
}

#about2,#about4{
  img{
    margin-right: 150px;
  }
}

// #about01{
//   grid-area: about01;
//   width: 500px;
//   margin: 10px 20px 10px 100px;
//
//   }
// }

//STYLE FOR ICONS
#icon1{
  grid-area: icon1;
}

#icon2{
  grid-area: icon2;
}

#icon3{
  grid-area: icon3;
}

#icon4{
  grid-area: icon4;
}

#icon1, #icon2, #icon3, #icon4{
  // width: 350px;
  display: inline-block;
  // float: left;
  text-align:left;
  img{
    margin: 0 auto;
    width: 100px;
    height: 80px;
  }
  h3{
    text-align: center;
  }
}

// STYLE FOR PORTFOLIO
#portfolio{
  grid-area: portfolio;
  width: 1000px;
  margin-left: 20px;
}
#portfolio1{
  grid-area: portfolio1;
}
#portfolio2{
  grid-area: portfolio2;
}
#portfolio3{
  grid-area: portfolio3;
}
#portfolio4{
  grid-area: portfolio4;
}
#portfolio5{
  grid-area: portfolio5;

  // margin-left: 10px;
  img{
    width: 400px;
    height: 510px;
  }
}

#portfolio1, #portfolio2, #portfolio3,#portfolio4{
  // margin-left: 200px;
  img{
    // margin-left: 200px;
    width: 400px;
    height: 250px;
  }
}

#portfolio2, #portfolio4{
// margin-left: 10px;
}




// STYLE FOR TEAM
#team{
  grid-area: team;
}
// STYLE FOR NUMBERS
#numbers{
  grid-area: numbers;
}
// STYLE FOR carousel
// #carousel{
//   grid-area: carousel;
// }
//
// #carousel_inner {
//     float: left;
//     width: 630px;
//     overflow: hidden;
//     background: #F0F0F0;
// }
//
// #carousel_ul li img {
//     width: 200px;
//     height: 110px;
// }
//
// #carousel_ul {
//     position: relative;
//     left: -210px;
//     list-style-type: none;
//     margin: 0px;
//     padding: 0px;
//     width: 9999px;
//     padding-bottom: 10px;
// }
//
// #carousel_ul li {
//     float: left;
//     width: 200px;
//     padding: 0px;
//     height: 110px;
//     background: #000000;
//     margin-top: 10px;
//     margin-bottom: 10px;
//     margin-left: 5px;
//     margin-right: 5px;
// }
//
// #carousel_ul li img {
//     margin-bottom: -4px;
//     cursor: pointer;
//     cursor: hand;
//     border: 0px;
// }
//
// #left_scroll, #right_scroll {
//     float: left;
//     height: 130px;
//     width: 35px;
//     margin-top: 50px;
//     margin-left: 20px;
// }
//
// #left_scroll img, #right_scroll img {
//     border: 0;
//  /* remove the default border of linked image */
// /*styling*/
//     cursor: pointer;
//     cursor: hand;
// }
//
// #left_scroll img {
//     width: 25px;
//     height: 25px;
// }
//
// #right_scroll img {
//     width: 25px;
//     height: 25px;
// }
// STYLE FOR FOOTER
footer{
  grid-area: footer;
}

@media screen and (max-width: 1024px) {
  // body{
  //   font-size: 10px;
  //   grid-template-areas:
  //   "nav nav nav nav"
  //   " slideshow slideshow slideshow slideshow"
  //   " about about about about"
  //   "icon1 icon2 icon3 icon5"
  //   "portfolio portfolio portfolio portfolio"
  //   "team team team team"
  //   "numbers numbers numbers numbers"
  //   "carasal carasal carasal carasal"
  //   "footer footer footer footer";
  //   grid-template-columns: auto auto auto auto;
  //   grid-template-rows: auto auto auto auto auto auto auto auto auto;
  // }

  .myMenu a:not(:first-child){
    display: none;
    padding: 8px 8px 8px 15px;
  }

  .myMenu a:first-child{
    position:relative;
    padding: 10px 0px 0px 15px;
  }

  .myMenu a .icon {
    // float: right;
    display: block;
    float: none;
  }

  .myMenu .icon{
    display: none;
  }

  .myMenu.responsive {
    position: relative;
  }

  .myMenu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .myMenu.responsive a:not(:first-child) {
    float: none;
    display: block;
    text-align: center;
    padding-left: 60px;
  }
}


@media screen and (max-width: 768px) {

  .myMenu a:not(:first-child){
    display: none;
    padding: 8px 8px 8px 15px;
  }

  .myMenu a:first-child{
    position:relative;
    padding: 10px 0px 0px 15px;
  }

  .myMenu a .icon {
    // float: right;
    display: block;
    float: none;
  }

  .myMenu .icon{
    display: none;
  }

  .myMenu.responsive {
    position: relative;
  }

  .myMenu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .myMenu.responsive a:not(:first-child) {
    float: none;
    display: block;
    text-align: center;
    padding-left: 60px;
  }

  #slide{
    margin: -650px 200px 120px 95px;
    width: 190vw;
    height: 500px;
  }

  #slideWords{
    margin: 0px 0px 0px 90px;
    width: 150vw;
    height: 250px;
    font-size: 30px;
  }

  #icon1, #icon2, #icon3, #icon4{
    img{
      width: 100px;
      height: 80px;
    }
  }
}

@media screen and (max-width: 425px) {
  body{
    font-size: 10px;
    grid-template-areas:
    "nav"
    "slideshow"
    "about"
    "icon1"
    "icon2"
    "icon3"
    "icon4"
    "portfolio"
    "team"
    "numbers"
    "carasal"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }


  .myMenu a:not(:first-child){
    display: none;
    padding: 8px 8px 8px 15px;
  }

  .myMenu a:first-child{
    position:relative;
    padding: 10px 0px 0px 15px;
  }

  .myMenu a .icon{
    // float: right;
    display: block;
    float: none;
  }

  .icon{
    display: block;
    position: absolute;
    padding: 15px 25px;
    cursor: pointer;
    position: absolute;
    right: 0px;
  }

  .myMenu.responsive {position: relative;}
  .myMenu.responsive.icon{
    position: absolute;
    right: 0;
    top: 0;
  }

  .myMenu.responsive a:not(:first-child) {
    float: none;
    display: block;
    text-align: center;
    padding-left: 60px;
  }

  #slide{
    margin: -240px 200px 120px 25px;
    width: 85vw;
    height: 230px;
  }

  #slideWords{
    font-size: 14px;
    margin: 0px 0px 120px 0px;
    width: 85vw;
    height: 150px;
  }


  #image{
    img{
      width: 425px;
      height: 250px;
    }
  }

  #icon1, #icon2, #icon3, #icon4{
    text-align: center;
    margin: 20px 20px 20px 20px;
      img{
        width: 100px;
        height: 80px;
        // margin-left: 0px;
        padding-top: 50px;
    }
  }
}

@media screen and (max-width: 375px) {

//   .myMenu a:not(:first-child){
//     display: none;
//       padding: 8px 8px 8px 15px;
//   }
//   .myMenu a:first-child{
//     position:relative;
//     padding: 10px 0px 0px 15px;
//   }
//   .myMenu a {
//     // float: right;
//     display: block;
//     float: none;
//   }
//
//
//   .icon{
//     display: block;
//     position: absolute;
//     padding: 15px 25px;
//      cursor: pointer;
//      position: absolute;
//      right: 0px;
//   }
  .myMenu{
    width: 375px;
    }
//   .myMenu.responsive{
//     position: absolute;
//     right: 0;
//     top: 0;
//   }
//   .myMenu.responsive a:not(:first-child) {
//     float: none;
//     display: block;
//     text-align: center;
//     padding-left: 60px;
//   }
  #slide{
    margin: -240px 200px 120px 35px;
    width: 85vw;
    height: 230px;
  }

  #slideWords{
    font-size: 14px;
    margin: 0px 0px 120px 0px;
    width: 85vw;
    height: 150px;
  }


  #image{
    img{
      width: 375px;
    }
  }

  #icon1, #icon2, #icon3, #icon4{
    margin: 20px 20px 20px 20px;
    img{
      width: 100px;
      height: 80px;
      padding-top: 50px;
    }
  }

}

@media screen and (max-width: 320px) {

  .myMenu a:not(:first-child){
    display: none;
    padding: 8px 8px 8px 15px;
  }

  .myMenu a:first-child{
    position:relative;
    padding: 10px 0px 0px 15px;
  }

  .myMenu a .icon {
    display: block;
    float: none;
  }


.icon{
    display: block;
    position: absolute;
    padding: 15px 25px;
    cursor: pointer;
    position: absolute;
    right: 0px;
  }

  .myMenu.responsive {position: relative;}
  .myMenu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .myMenu.responsive a:not(:first-child) {
    float: none;
    display: block;
    text-align: center;
    padding-left: 60px;
  }

  #slide{
    margin: -240px 200px 120px 25px;
    width: 85vw;
    height: 230px;
  }

  #slideWords{
    font-size: 14px;
    margin: 0px 0px 120px 0px;
    width: 85vw;
    height: 150px;
}


  #image{
    img{
      width: 327px;
      height: 250px;
    }
  }

  #icon1, #icon2, #icon3, #icon4{
    text-align: center;
    margin: 20px 20px 20px 20px;
      img{
        width: 100px;
        height: 80px;
        // margin-left: 0px;
        padding-top: 50px;
      }
  }
}
